.spacer5 { height: 5px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer10 { height: 10px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer15 { height: 15px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer20 { height: 20px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer25 { height: 25px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer30 { height: 30px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer35 { height: 35px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer40 { height: 40px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer45 { height: 45px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer50 { height: 50px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer100 { height: 100px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer200 { height: 200px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }

/** {
  border: dotted gray;
}
*/

#table tr:last-child td:last-child {
  width: 500px;
  height: 500px;
}

#refreshbtn {
  margin-bottom: 0;
}

#autorefresh-p {
  margin-bottom: 0;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

#intro p {
  font-size: 1.2em;
}


/* KANDY CALL CONTROL */
#login {
  text-align:center;
  vertical-align:middle;
  display:table-cell;
}

#loginForm {
  margin:0 auto;
  display:inline-block;
}

#logout {
  visibility:hidden;
}

#myTitle {
  color:#5A0F7D;
   font-size:1.5em;
   width:100%;
  text-align:center;
}

#call_control {
  position:absolute;
  background-color:white;
  width:100%;
  height:300px;
}

#mainControl {
  width:300px;
  height:300px;
}

#videoPane {
  width:300px;
  height:250px;
}

#onCall {
  text-align:center;
}

#status {
  text-align: center;
  width: 300px;
  /*height: 250px;*/
  position: absolute;
  padding-top: 10px;
}

#buttons {
  height: 50px;
  width: 300px;
  position: absolute;
  bottom: 0;
}

#preloader-spacer, #status-spacer {
  display: block;
  height: 100px;
}

/*************************** COBROWSE *******************/
#cobrowse-div {
  width: 500px;
}


/*************************** CHAT **********************/
input#chat_box {
  width: 260px;
  height: 40px;
  margin: 0;
  right: 0;
  position: absolute;
}

#msg_box {
  width: 300px;
  height: 100%;
  overflow: scroll;
  padding: 5px;
  margin: 0px;
  position: fixed;
}

#right {
  position: fixed;
  top: 64px;
  right: 0;
  bottom: 0;
  width: 300px;
  max-height: 100%;
  background: white;
}

#add-file {
  position: absolute;
  left: 5px;
  transition: color 0.3s ease-in-out;
  color: gray;
}

#add-file:hover {
  color: #03a9f4;
  transition: color 0.3s ease-in-out;
}

#message-box {
  width: 300px;
  bottom: 40px;
  right: 0;
  /*position: absolute;*/
  position: fixed;
}